.grid-container {
    display: grid;
    gap: 10px; /* Space between grid items */
    padding: 10px;
}

.grid-container img {
    width: 100%; /* <h1>KHAN ABDULLAH  FOTO</h1> */
    height: auto;
    display: block;
}

.grid-container {
    grid-template-columns: 1fr;
}

@media (min-width: 650px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1101px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
  
      